<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Agenda</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NovoController</display-name>
    <servlet-name>NovoController</servlet-name>
    <servlet-class>controller.NovoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NovoController</servlet-name>
    <url-pattern>/Novo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarController</display-name>
    <servlet-name>EditarController</servlet-name>
    <servlet-class>controller.EditarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarController</servlet-name>
    <url-pattern>/Editar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateController</display-name>
    <servlet-name>UpdateController</servlet-name>
    <servlet-class>controller.UpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateController</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
</web-app>